.button {
    transition: background-color 0.8s ease !important;
  }
  
  .button:hover {
    background-color: var(--hover-color);
  }
  
  .link {
    transition: color 0.8s ease !important;
  }
  
  .iconBackground {
    border-radius: 4px; /* Ajusta el radio del borde según sea necesario */
  }
  
  .noHover:hover {
    background-color: transparent !important;
    color: var(--hover-color) !important;
  }